@import "tailwindcss";

@theme {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: "Google Sans", sans-serif;
    --font-text: "Google Sans Flex", sans-serif;
    --font-mono: "Space Grotesk", sans-serif;
    --font-code: "Google Sans Code", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    --font-mono-code: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-sans);
    background-color: var(--background);
}