@import url("./fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-text: "Google Sans Text", Arial, sans-serif;
    --font-sans: "Google Sans Display", Arial, sans-serif;
    --font-mono: "Google Sans Mono", monospace;
    --font-mono-code: "JetBrains Mono", monospace;
}

@theme {
    --font-text: "Google Sans Text", Arial, sans-serif;
    --font-sans: "Google Sans Display", Arial, sans-serif;
    --font-mono: "Google Sans Mono", monospace;
    --font-code: "Google Sans Code", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    --font-mono-code: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    /* font-family: var(--font-sans); */
    background-color: var(--background);
}